.register-container{
    width: 90%;
    max-width: 1440px;
    height: auto;
    margin: 25% auto auto auto;
    padding: 1rem .3rem;
}

.form-register{
    padding: 0 .5rem;
    align-items: center;
}

.form-register label{
    display: block;
    width: 100%;
    padding-left: .8rem;
    font-weight: 600;
    color: rgb(146, 146, 146);
}

.form-register input{
    border: none;
    outline-style: none;
    width: 90%;
    padding: .5rem;
    margin-bottom: .5rem;
    color: rgb(146, 146, 146);
}

.form-register button{
    margin-top: .5rem;
}

@media only screen and (min-width: 425px) {
    .register-container{
        margin-top: 5%;
    }
}