<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Links Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    
    <title>Nueva operacion</title>
    
    <!-- Link Hoja de estilos -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="hundredVH">

<div class="flex-column header-container">
    <div class="glassmorphism-efecct inner-header-operation">
        <img class='logout-img' src="../img/logout.svg">
        <span id="title-operation">NUEVA OPERACION</span>
    </div>    
</div>

<form class="flex-column form-operation">

    <span class="titles-input">Tipo de operacion</span>
    <div class="border-gray flex-row">
        <input type="radio" id="entry-input"  name="type_operation" value="ingreso" checked>
            <label for="entry-input" class="entry-color">Ingreso</label>    
        <input type="radio" id="egress-input"  name="type_operation" value="egreso">
            <label for="egress-input" class="egress-color">Egreso</label> 
        
    </div>

    <div class="border-gray flex-column">
        <label for="concept" class="titles-input">
            Concepto
        </label>
        <input type="text" id="concept" name="concept">
    </div>

    <div class="border-gray flex-column">
        <label for="amount" class="titles-input">
            Monto
        </label>
        <input type="number" id="amount" name="amount" min="0" step="any" required>
    </div>

    <div class="border-gray flex-column">
        <label for="date" class="titles-input">
            Fecha
        </label>
        <input type="date" id="date" name="date" required>
    </div>  

    <button type="submit" class="primary-button">Agregar</button>
    <button type="button" class="primary-button cancel-button">Cancelar</button>
</form>
    
<footer class="footer-empty-page">
    Copyright © Gabriel Barbarin Gorostegui 2021.
</footer>
    
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../js/newOperation/script.js"></script> 
</body>
</html>