<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="body-blue">


    <div class="register-container glassmorphism-efecct2">
        <form action="/register" method="post" class="form-register flex-column">
            <label for="username">
                Usuario
            </label>
            <input type="text" id="username" name="username" class="glassmorphism-efecct2">

            <label for="email">
                Email
            </label>
            <input type="email" id="email" name="email" class="glassmorphism-efecct2">

            <label for="email2">
                Repetir email
            </label>
            <input type="email" id="email2" name="email2" class="glassmorphism-efecct2">

            <label for="password">
                Clave
            </label>
            <input type="password" id="password" name="password" class="glassmorphism-efecct2">

            <button type="submit" class="primary-button">Registrarse</button>
        </form>
    </div>
    
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../js/register/script.js"></script>    
</body>
</html>