<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Links Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    
    <title>Alkemy</title>
    
    <!-- Link Hoja de estilos -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="hundredVH-auto">

<div class="header-container">
    <div class="glassmorphism-efecct inner-header">
        <img class='edit-img' src="../img/edit.svg">
        <img class='delete-img' src="../img/delete.svg">
        <span id="amount-show-operation"><!--Se renderiza desde JS--></span>
    </div>    
</div>

<div class="show-operation-container flex-column">
    <span id="type-operation"><!--Se renderiza desde JS--></span>
    <span id="concept-show-operation"><!--Se renderiza desde JS--></span>
    <span id="date"><!--Se renderiza desde JS--></span>
</div>
<div class="keypad-show-operation">
    <button type="button" class="primary-button return-button">VOLVER</button>
</div>

    
<footer class="footer-empty-page">
    Copyright © Gabriel Barbarin Gorostegui 2021.
</footer>
    
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../js/showOperation/script.js"></script> 
</body>
</html>